/*css resume*/
html, body {
  margin: 0; padding: 0; height: 100%; width:100%;
  font-size: 62.5%;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  background-color: #ffb751;
}
/*liens*/
p a:link, p a:visited { color: #000; }
p a:hover {background-color: #221e1b; color: #2BC3CE;}


#main {
  min-height: 75vh;
}
header {
  color: #fff;
  margin-bottom: 5%;
}
header #logo img {
  max-height: 5vh;
  margin-right: 1em;
}

/*****************************  CONTACT FORM ******************************/

#contact { background-color: #ffb751; }
#contact div { box-shadow: none; }
#contact h2 { padding: 0; margin: 0; }
#contact p { font-size: 3rem; }
#contact h2 + p { margin-top: 2%; }
#contact button { margin-top: 3%; }
#contact .btn:hover {
  color: #221e1b; background-color: #ec971f; border-color: #ec971f;
}
#contact .btn {
  text-transform: uppercase;
  background-color: transparent;
  border-width: 3px;
  color: #fff;
  border-color: #fff;
}

footer {
  min-height: 25vh;
  background-color: #221e1b;
}
footer #socials {
  background-color: #221e1b;
  width: 100%; margin: 0; padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #copyright {color: #595959;
  background-color: #221e1b;
  width: 100%; margin: 0; padding: 2em 0 0 0;
  text-align: center; font-size: .8em;
}
footer #socials p {
  margin: 0 1em; padding: .2em;
  background-color: #333;
  display: flex; justify-content: center; align-items: center;
  height: 3em; width: 3em;
  /*border: .3em solid #595959; */
  border-radius: 50%;
  transition: background-color .5s;
}
footer #socials p:hover{
  background-color: #08FDD8;
}
footer a:link, footer a:visited { color: #fff; text-decoration: none;}
footer a:hover {
  color: #000;
  border: 0;
}
/*socicon*/
.socicon-github, .socicon-linkedin {
  font-size: 2em;
}
.btn {font-weight: 700; border-radius: 2em; padding: .5em 1.5em; transition: all .2s ease-in; }
/*.btn a:link, .btn a:visited {color: #fff;}*/
.btn:hover{padding: .5em 2em;}
