/*css resume*/
html, body {
  margin: 0; padding: 0; height: 100%; width:100%;
  font-family: 'Raleway', sans-serif;
}
header {
  /* animation magic */
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s;
  z-index: 9999;
  top: 0;
  position: fixed;
}
header, footer {
  padding: 2rem 2%;
  width: 96%;
  min-height: 9rem;
  background-color: #2BC3CE;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

/*entête*/
#logo {
flex: 1;
background-color: pink;
margin: 1rem 0;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
align-items: center;
}

#logo-ab {background-color: blue;
height: 5rem;
margin:1rem;
}

#logo h1 {
  margin: 1rem 0;
  font-size: 2rem;
}

#logo p {
  margin: 1rem 0;
  font-size: 1rem;
}
/*menu*/
/*
header nav { background-color: red;
  margin-bottom: 1rem;
  align-self: flex-end;}

header nav a:link, a:visited {
  padding: .6em;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: text-shadow .3s;
  transition: border-color .3s;
  border: 1px dashed #2BC3CE;
  border-radius: 5px;
  text-shadow: 1px 1px #1f9ea8;
}
header nav a:hover{
  border-color: #1f9ea8;
  text-shadow: none;
}
header nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
header nav li {
  margin: 0 1em;
}*/

/*shrink header*/
.shrink-header {
  min-height: auto;
  margin: 0; padding: 0 2%;
}
.shrink-me {visibility: hidden;}
.shrink-logo-ab {margin: 0;
  transform: scale(.5);
  position: absolute;
  top: -1rem; left: -1rem;
}
.shrink-logo {margin: 0; padding: 0;text-align: left; height: 3rem;
}
/*contenu - sections*/
#content {
  /*background-color: yellow;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*min-height: 54%;*/
  /*margin 5% 20%;*/
  margin-top: 13rem;
}

section {
  height: 100vh;
  /*background-color: #689aa8;*/
  /*padding: 5%;
  margin-bottom: 3rem;*/
  margin:0;
  width: 100%;
}
section h1 {
  margin:0; padding: .5% 25%;
  background-color: #221e1b;
  color: #FFF;
  text-align: right;
  /*text-transform: uppercase;*/
  font-size: 2em;
  font-style: oblique; font-weight: 700;
}
section a:link, section a:visited {color: #000;}
#aboutMe {
  background-color: #3DCB97;
}
#skills {
  background-color: #9B59B6;
}
#works {
  background-color: #F63656;
}
#works #portfolio{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.thumbnails {
  width: 16rem;
  height: 9rem;
  background-color: brown;
  margin: 2em;
}

/*pied de page*/
footer{
  background-color: #2BC3CE;
  padding: 0; margin: 0; width: 100%;
  /*background-color: #35cc84;*/
  align-items: center;
  flex-direction: column;
}
footer section {  height: auto; padding: 0;}
footer textarea{  width: 100%;}
footer #socials {background-color: #221e1b;
  width: 100%; margin: 0; padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #copyright {background-color: #221e1b;
 width: 100%; margin: 0; padding: 2em 0 0 0; text-align: center; font-size: .8em;}
footer #socials p {
  margin: 0 1em; padding: .2em;
  background-color: #333;
  display: flex; justify-content: center; align-items: center;
  height: 3em; width: 3em;
  /*border: .3em solid #595959; */
  border-radius: 50%;
  transition: background-color .5s;
}
footer #socials p:hover{
  background-color: #08FDD8;
}
footer a:link, footer a:visited {  color: #595959; text-decoration: none;}
footer a:hover {
  color: #000;
  border: 0;
}
/*socicon*/
.socicon-github, .socicon-linkedin {
font-size: 2em;
}

/*media queries*/
@media all and (max-width: 1024px) {
    section {width: 75%}
}
@media all and (max-width: 640px) {
    header { align-items: center; justify-content: center;
      position: relative;
    }
    #logo{
      justify-content: center; text-align: center;
    }
    /*header nav { text-align: center; }
    header nav ul { flex-direction: column; }
    header nav li{ padding: .2em; }*/
    section {height: auto; width: 90%}
    #works #portfolio{ flex-direction: column;
    }
}
