html, body {
  margin: 0; padding: 0; height: 100%; width:100%;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  background-color: #221e1b;
}

header {
  padding: 2%;
  width: 100%;
  min-height: 20%;
  background-color: #35cc84;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
header{z-index: 1;}
/*entête*/
#logo {
flex: 1;
/*background-color: pink;*/
margin: 1em 0;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
align-items: center;
}

#logo img {
height: 5rem;
margin:2%;
}

#logo h1 {
  margin: 1% 0;
  font-size: 2rem;
}

#logo p {
  margin: 1% 0;
  font-size: 1rem;
}


header nav { align-self: flex-end;}

header nav a:link, a:visited {
  padding: .6em;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: text-shadow .3s;
  transition: border-color .3s;
  border: 1px dashed #35cc84;
  border-radius: 5px;
  text-shadow: 1px 1px #279662;
}
header nav a:hover{
  border-color: #279662;
  text-shadow: none;
}

header nav {
  margin: 0;
  padding: 0;
}
header nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
header nav li {
  margin: 0 1em;
}

/*pied de page*/
footer{padding: 0; margin: 0; width: 100%;
  /*background-color: #35cc84;*/
  align-items: center;
  flex-direction: column;
}
footer section {  padding: 0;}
footer textarea{  width: 100%;}
footer #socials {background-color: #221e1b;
  width: 100%; margin: 0; padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #copyright {background-color: #221e1b;
  width: 100%; margin: 0; padding: 2em 0 0 0; text-align: center; font-size: .8em;}
footer #socials p {
  margin: 0 1em; padding: .2em;
  background-color: #333;
  display: flex; justify-content: center; align-items: center;
  height: 3em; width: 3em;
  /*border: .3em solid #595959; */
  border-radius: 50%;
  transition: background-color .5s;
}
footer #socials p:hover{
  background-color: #08FDD8;
}
footer a:link, footer a:visited {  color: #595959; text-decoration: none;}
footer a:hover {
  color: #000;
  border: 0;
}
/*socicon*/
.socicon-github, .socicon-linkedin {
font-size: 2em;
}
