/*css resume*/
html, body, .container-fluid, .row, .col-12 {
  height:100%;
  width:100%;
  margin: 0; padding: 0;
  box-sizing: border-box;
}
.col-12 {  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
